extends layout

block content
    // Modal
    #nameRoute.modal.fade(role='dialog')
        .modal-dialog.modal-sm
            // Modal content
            .modal-content
                .modal-header
                    button.close(type='button' data-dismiss='modal') &times;
                    h4.modal-title Type the name of the route
                .modal-body
                    input.form-control(name='name_route' type='text' placeholder='Type the name')
                .modal-footer
                    button.btn.btn-default(type='button' data-dismiss='modal') Close
                    button.btn.btn-primary(type='button') Save
    h4 Add your points
    p(style='text-align:center') First create your route and then add points to that route.
    p(style='text-align:center').lead
        button.btn.btn-primary(type='button' data-toggle='modal' data-target='#nameRoute') Create route
    .jumbotron
        form(method='POST', action='/points/add')
            .form-row
                .form-group.col-md-6
                    label Latitude
                    input.form-control(name='latitude' type='text' placeholder='latitude' id="latitude")
                .form-group.col-md-6
                    label Longitude
                    input.form-control(name='longitude' type='text' placeholder='longitude' id="longitude")
            .infoText
                label Move the pin over the map
            hr
            p(style='text-align:center').lead
                button.btn.btn-primary(type='submit') Add point
    // The div element for the map
    #map
    // Replace the value of the key parameter with your own API key.
    script.
        // Initialize and add the map
        var map;
        function initMap() {
            getLocation();
        }
        function getLocation(){
            navigator.geolocation.getCurrentPosition(function(position) {
                var pos = {lat: position.coords.latitude, longi: position.coords.longitude};
                document.getElementById("latitude").value = pos.lat;
                document.getElementById("longitude").value = pos.longi;
                var latitude = parseFloat(document.getElementById("latitude").value);
                var longitude = parseFloat(document.getElementById("longitude").value);
                var posMap = {lat: latitude, lng: longitude};
                map = new google.maps.Map(document.getElementById('map'), {
                    center: posMap,
                    zoom: 15
            });
            var marker = new google.maps.Marker({position: posMap, map: map, draggable: true});
            google.maps.event.addListener(marker,'dragend',function(event) {
                var latitude = marker.getPosition().toString()
                latitude = latitude.split(',',1).toString()
                latitude = latitude.substring(1)

                var longitude = marker.getPosition().toString()
                var pos = longitude.indexOf(',')
                longitude = longitude.substring(pos+2).split(')',1).toString()

                document.getElementById("latitude").value = latitude
                document.getElementById("longitude").value = longitude
            });
            },errorHandler,{timeout:10000});
        }

        function errorHandler(err) {
            if(err.code == 1) {
               alert("Error: Access is denied!");
            } else if( err.code == 2) {
               alert("Error: Position is unavailable!");
            }
        }
    script(async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAZC2drNgge8VSt0MKNKoACprFPGsGcbeg&callback=initMap')
