extends layout

block content
    #welcomeView.jumbotron
        h2.display-4 Welcome to GPS-Tracking application
        p.lead
            | This is the first project of Special Topics in Telematics, which consists of an application where the user can create routes
            | and add geolocation points to that route.
        hr.my-4
        p
            | By: Felipe Macías Herrera