.alert-error{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
  
.alert-success_msg{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.jumbotron{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.infoText{
    text-align: center;
    font-size: 80%;
}

hr { 
    display: block;
    border-style: inset;
    border-top-color: #eeeeee;
}

/* Set the size of the div element that contains the map */
#map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    color: inherit;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}